@import "tailwindcss";
:root {
  --vh: 1vh;
}
/* Hide scrollbar (Chrome, Edge, Safari) */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (Firefox) */
.scrollbar-none {
  scrollbar-width: none;
}

/* Full viewport height FIXED for mobile browsers */
.full-vh {
  height: calc(var(--vh) * 100);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
